html,body{
    font-family: Arial,"微软雅黑";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin:0;
    padding:0;
    background-color: #efefef;
}
ul,li{margin: 0;padding: 0;list-style: none}
input,button{border: 0px none;border-radius: 0px;outline: none}
.loading{
    background: url("../images/common/load.gif") no-repeat center;
    width: 0.6rem;
    height: 0.6rem;
    position: fixed;
    left: 50%;
    top: 50%;
    z-index: 1;
    background-size: 100%;
    transform: translateX(-50%) translateY(-50%);
    display: none;
    /*transform: translate(-50% -50%);*/
}
.no-data{width: 100%;text-align: center;margin-top: 0.6rem;font-size: 0.32rem}
